<mat-card> 
    <div style="text-align:center;">
        <mat-card-title [style.color]="'#00ff51'" >Nuevo Paciente</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="perfilNuevo">

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombre del perfil" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Descripcion del perfil" formControlName="descripcion">
        </mat-form-field>

         <mat-form-field class="campos-field">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Inactivo</mat-option>
              </mat-select>
        </mat-form-field>

        <div class="button-section">
            <button mat-raised-button [disabled] = "!perfilNuevo.valid" (click)="onSubmit()">Aceptar</button>  
            <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
        </div>
              
    </form>
    
</mat-card>
