.titulo {
    padding: 47%;
    padding-bottom: 5px;
    padding-top: 50px;
  }
  
  .titulo h1 {
    text-decoration: underline; /* Subraya el texto */
    font-size: 42px;
    color:  rgb(143, 20, 220) ;
  }
  
  .tabla {
    padding: 30px;
  }
  
  .tabla table {
    width: 90%;
    margin: 30px auto 0px auto;
  }
  
  .agreg{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 48%;
    padding-top: 5px;
  }
  
  .agreg .button-add{
    background-color: rgb(143, 20, 220);
    color: #fff;
    width: 110px; 
    height: 37px;
    border-radius: 8%;
    font-size: 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }